<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
>
<head>
    <title>관리자</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.3/css/tabulator.min.css" integrity="sha512-t/BIXyXv+371F1q9LGQd6fIMakUqG+Ov+5RvnQ7WMijVYmxMG9yNBA5Vr4QCRAQIAxSfcILi8pk1kaQGrbRdhA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.3/css/tabulator_bootstrap5.min.css" integrity="sha512-9Dt00XGlxNjuRuYFTKI7rGgt2n6ZdmvOuZGORtltty0uNBT15tnQTiVDC0Ez93S7K2Y5Fr5ody8iyxWtiTZIUQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.4/css/tabulator_semanticui.min.css" integrity="sha512-mjT2TKaCyfFYzj4JEm4Y5WJtmxuH+hLEqyrRUwnbGsbG6SaiC41YRB63dMvdhg3PXBolNEGXjK/Y5WH5TU2AiQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{~/css/admin-index.css}">
</head>
<body>
<th:block layout:fragment="content_body">
    <main class="main-container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <select class="form-control form-control-sm">
                    <option value="">동</option>
                </select>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <select class="form-control form-control-sm">
                    <option value="">호</option>
                </select>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <select class="form-control form-control-sm">
                    <option value="">상태</option>
                    <option value="W">대기</option>
                    <option value="Y">허가</option>
                    <option value="N">거절</option>
                </select>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="d-flex">
                    <input type="text" class="form-control form-control-sm" id="carNum"/>
                    <button class="btn btn-sm btn-dark w-50 ms-2" id="searchBtn"><i class="fa-solid fa-magnifying-glass"></i> 검색</button>
                </div>
            </div>
        </div>
        <div id="table">

        </div>
    </main>
</th:block>

<th:block layout:fragment="page_js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.5.3/js/tabulator.min.js" integrity="sha512-Na020SHOgWDAy5gOdK5/+5YhuGCoAyFiptOEthUOzSI7FiJLCDDdGRzZbDy8NSZXB+e85CZjo6P/eJaT+AJcBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.4.4/luxon.min.js" integrity="sha512-dUlSLLkxslGILhPdCkALwk4szPhp3xmZIKFtlUD+O9Lslq41Aksmdt5OGqpomDoT4FsCUH70jQU8ezZHI3v1RQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js" integrity="sha512-FwNWaxyfy2XlEINoSnZh1JQ5TRRtGow0D6XcmAWmYCRgvqOUTnzCxPc9uF35u5ZEpirk1uhlPVA19tflhvnW1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script th:src="@{~/js/admin-index.js}"></script>

</th:block>
</body>
</html>